<head>
</head>

<!-- <div class="container-50 noTopPadding container-30-right">
    <div class="floatLeft">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Total Devices Registered</h5>
                <p class="card-text"> <span class="lightBlue" style="font-size: 45px; font-weight: 700;">
                        {{totalDevices || "--"}}
                    </span>

            </div>
        </div>


    </div>
</div> -->

<div class="clearfix"></div>

<!-- <div *ngIf="this.devices !== undefined && this.devices.length > 0" class="container-50 paddingTop">
    <div class="floatRight">
        <a href="#">Manage Devices</a>
    </div>

    <div class="dashItem" ng-if="$ctrl.regions">
        <div class="dashTitleBar">
            <h3>Live Data Connection {{mqttStatus ? '✅' : '❌'}}</h3>
        </div>

        <div class="bx--responsive-table-container" style="width: 100%;" data-responsive-table>
            <table class="bx--responsive-table bx--responsive-table--static-size" style="width: 75%;" data-table>
                <thead class="bx--table-head">
                    <tr class="bx--table-row">
                        <th class="bx--table-header">
                            <span>#</span>
                        </th>

                        <th class="bx--table-header bx--table-sort" data-event="sort" (click)="revertSort();">
                            Device ID

                            <svg class="bx--table-sort__svg">
                                <use *ngIf="orderBy[0] === '-'"
                                    xlink:href="/assets/img/carbon-icons.svg#icon--caret--down"></use>

                                <use *ngIf="orderBy[0] !== '-'"
                                    xlink:href="/assets/img/carbon-icons.svg#icon--caret--up"></use>
                            </svg>
                        </th>

                        <th class="bx--table-header">
                            Latitude
                        </th>

                        <th class="bx--table-header">
                            Longitude
                        </th>

                        <th class="bx--table-header">
                            Last Event
                        </th>

                        <th class="bx--table-header">
                            Auto Refresh
                        </th>
                    </tr>
                </thead>

                <tbody class="bx--table-body">
                    <tr class="bx--table-row bx--parent-row" data-parent-row
                        *ngFor="let device of devices; let i = index;">
                        <td>{{(currentPage-1)*limit+(i + 1)}}</td>
                        <td>{{device.deviceId}}</td>
                        <td class="align-right">{{device.data !== undefined ? device.data.Lat : "--"}}</td>
                        <td class="align-right">
                            {{device.data !== undefined ? (device.data.running ? "Running" : "Stopped") : "--"}}</td>
                        <td class="align-right">{{device.data !== undefined ? (device.data.ts | date:'medium') : "--"}}
                        </td>
                        <td class="align-right">
                            <div class="bx--form-item bx--checkbox-wrapper">
                                <input id="bx--checkbox-{{i}}" class="bx--checkbox" type="checkbox" value="red"
                                    name="checkbox" [(ngModel)]="mqttStatus && liveData[device.deviceId]"
                                    [disabled]="!mqttStatus"
                                    (change)="setLiveData(i, $event.target.checked === true ? true : false);">

                                <label for="bx--checkbox-{{i}}" class="bx--checkbox-label">
                                    <span class="bx--checkbox-appearance">
                                        <svg class="bx--checkbox-checkmark">
                                            <use xlink:href="/assets/img/carbon-icons.svg#icon--checkmark"></use>
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Speed</th>
                    <th>Reg No</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{lat}}</td>
                    <td>{{lng}}</td>
                    <td>{{speed}}</td>
                    <td>{{reg}}</td>
                </tr>


            </tbody>
        </table>
    </div>
</div>



<div class="container-50 paddingTop">
    <strong *ngIf="this.devices !== undefined && this.devices.length === 0">
        No Devices Found
    </strong>

    <strong *ngIf="this.devices === undefined && errorMessage === undefined">
        Loading Devices...
    </strong>

    <strong *ngIf="this.devices === undefined && errorMessage !== undefined">
        Something went wrong!
    </strong>
</div>
<div>
    <agm-map [zoom]="16" [latitude]="15.422370" [longitude]="73.979551">
        <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'/assets/marker-default1.png'"></agm-marker>
    </agm-map>
</div>